@charset "utf-8";



table,th,td{
    border: solid 4px black;
    border-collapse: collapse;
}

th,td{
    padding: 10px;
}

table{
    background-color: rgba(135,206,250,1);
}

h1{
    font-family: "HGS創英角ﾎﾟｯﾌﾟ体";
}

table{
    font-family: "HG丸ｺﾞｼｯｸM-PRO";
}
img{
    width: 400px;
    height: 300px;
}





